*{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(92, 124, 71, 0.822);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
.navbar ul li {
    list-style-type: none;
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    padding: 15px 10px;

}

.container {
    text-align: center;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

}

.title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.about-me {
    width: 33.3%;
    text-align: left;
}

.about-me p {
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(82, 82, 82);
}

.image-container{
    width: 33.3%;
}

.image-container img {
    width: 300px;
}
.button {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    background-color: rgba(92, 124, 71, 0.822);
    border-radius: 5px;
    display: inline-block;
}

.footer {
    text-align: center;
    background-color: rgba(92, 124, 71, 0.822);
    color: black;
    padding: "20px 50px";
    position: absolute;
    bottom: 0;
    width: 100%;
}
 
